@import url('./base.css');
body {
  color:#fff;
}
#root {
  width:750px;
  height: 750px;
  background-color: green;
}
.logo {
  background-image: url('./assets/sss.jpeg');
  width: 100px;
  height: 100px;
}

.postcss {
  width: 100px;
  height: 100px;
  transform: rotate(70deg);
  background-color: royalblue;
}